<div class="count-down-timer container">
    <p class="countdown-title">Countdown to {{ currentTime }}</p>
    <div class="wrapper">
        <div class="description">
            <p>Days</p>
            <p>Hours</p>
            <p>Minutes</p>
            <p>Seconds</p>
        </div>
        <div class="times">
            <div class="flip-card" #days></div>
            <div class="flip-card" #hours></div>
            <div class="flip-card" #minutes></div>
            <div class="flip-card" #seconds></div>
        </div>
    </div>
</div>

<div class="container">
    <div class="image">
        <img src="../../../assets/images/coming-soon.jpg" alt="">
    </div>
</div>