<div class="count-down-timer container">
    <p class="countdown-title">Countdown to June</p>
    <div class="wrapper">
        <div class="description">
            <p>Days</p>
            <p>Hours</p>
            <p>Minutes</p>
            <p>Seconds</p>
        </div>
        <div class="times">
            <div class="flip-card" #days></div>
            <div class="flip-card" #hours></div>
            <div class="flip-card" #minutes></div>
            <div class="flip-card" #seconds></div>
        </div>
    </div>
    <div class="lists">
        <h6>Follow Now</h6>
        <div class="list">
            <a href="https://www.facebook.com/people/Snugglytots/61573294140025/" target="_blank"><i
                    class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/snugglytotssg/followers/" target="_blank"><i
                    class="bi bi-instagram"></i></a>
            <a href="https://www.tiktok.com/@snugglytots?lang=en" target="_blank"><i class="bi bi-tiktok"></i></a>
        </div>
    </div>
</div>

<!-- <div class="container">
    <div class="image">
        <img src="../../../assets/images/coming-soon.jpg" alt="comming soon">
    </div>
</div> -->