<div class="footer">
    <div class="container row inner-footer">
        <img src="../../../assets/images/logos/snuggly-logo.svg" alt="snuggly-logo">
        <p> Soft, breathable, and designed for delicate skin. Say goodbye to irritation and discomfort with our
            carefully crafted apparel made from Bamboo, Tencel, and Wool – the ultimate fabrics for sensitive skin.

        </p>
        <!-- <div class="col-lg-3 col-md-3 social-details">
            <p class="detail">Phone / WhatsApp</p>
            <a href="tel:+918610316757">
                <h6><span><i class="bi bi-whatsapp"></i></span>+91 86103 16757</h6>
            </a>
        </div> -->
        <div class="col-lg-3 col-md-3 social-details">
            <p class="detail">Email</p>
            <a href="mailto:enquiry@snugglytots.com">
                <h6><span><i class="bi bi-envelope-fill"></i></span>enquiry@snugglytots.com
                </h6>
            </a>
        </div>

        <!-- <div class="col-lg-3 col-md-3 social-details">
            <p class="detail">Address</p>

            <a href="https://maps.app.goo.gl/84TGLGZotewEAuKu7" target="_blank">

                <h5 class="address_p">80/5, Nethaji Road, Thiruvarur <br> 610001</h5>
            </a>



        </div> -->

        <div class="col-lg-3 col-md-3 social-details">
            <p class="detail">Social media</p>
            <div class="list">
                <a href="https://www.facebook.com/people/Snugglytots/61573294140025/" target="_blank"><i
                        class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/snugglytotssg/followers/" target="_blank"><i
                        class="bi bi-instagram"></i></a>
                <a href="https://www.tiktok.com/@snugglytots?lang=en" target="_blank"><i class="bi bi-tiktok"></i></a>

                <!-- <a href="https://www.linkedin.com/showcase/owncart" target="_blank"><i class="bi bi-linkedin"></i></a>
                <a href="https://www.pinterest.com/Owncartofficial/" target="_blank"><i class="bi bi-pinterest"></i></a>
                <a href="https://twitter.com/Owncartofficial" target="_blank"><i class="bi bi-twitter"></i></a>
                <a href="https://www.youtube.com/@OwncartOfficial" target="_blank"><i class="bi bi-youtube"></i></a> -->
            </div>
        </div>

        <hr class="footer-line">

        <p class="copyright">© 2025 SnugglyTots | All rights reserved</p>
    </div>

</div>