<div class="container">
    <div class="row banner">
        <div class="col-lg-6 banner-heading">
            <div class="heading">
                <h1 class="fade-in">Pure Comfort, Pure Love. <br> SnugglyTots is Coming Soon!</h1>
                <h2 class="slide-in">The ultimate eczema-friendly clothing for babies & kids—gentle on skin, breathable,
                    and mom-approved.</h2>
                <h3 class="fade-in">Sign up now for early access and an exclusive launch discount!</h3>
            </div>
            <div class="button_list">
                <button class="banner-demo-button glow-on-hover">Join the VIP List</button>
            </div>
        </div>
        <div class="col-lg-6 banner-img">
            <img src="../../../assets/images/banner/snuggly-tots-banner.jpg" alt="snuggly-tots-banner" class="zoom-in">
        </div>
    </div>
</div>