<div class="container banner">

    <div class="row">
        <div class="col-lg-5 image">
            <img class="banner-img" src="../../../assets/images/signup.png" />
        </div>
        <div class="col-lg-6">
            <div class="heading">
                <h2>Want First Access <br> to SnugglyTots?</h2>
                <h3>Join now for early access & exclusive launch perks!</h3>
                <div class="button_list">
                    <a href="https://wa.link/q4lndz" target="_blank" class="banner-demo-button">Sign Up Now</a>

                    <!-- <button (click)="contact()" class="banner_contact_btn"> Contact Us</button> -->
                </div>
            </div>

        </div>
    </div>
</div>