<div class="container main" id="collections">
    <div class="main-content">
        <h3>Sneak Peek at Our Collection</h3>
        <h4>A little sneak peek!</h4>
        <h5> Our collection includes ultra-soft nightwear, breathable daywear, <br> and protective clothing
            for flare-ups.</h5>
        <button class="banner-demo-button">Explore Our Collection </button>
    </div>

    <div class="row franchise-row">
        <swiper class="swiper-main" [config]="config">
            <ng-template swiperSlide *ngFor="let instance of meetups">

                <div class="col-lg-4 image">
                    <img [src]="instance" alt="collections">
                </div>
            </ng-template>
        </swiper>
    </div>
</div>