<div class="banner">
    <div class="heading">
        <h1>Pure Comfort, Pure Love. <br> SnugglyTots is Coming Soon!</h1>
        <h2>Eczema-friendly | Ultra-soft fabric | Mom-approved</h2>
        <h3>Join now for early access & exclusive launch perks!
        </h3>
        <div class="button_list">
            <button class="banner-demo-button">Join the VIP List </button>
            <!-- <button (click)="contact()" class="banner_contact_btn"> Contact Us</button> -->
        </div>
    </div>

</div>