<div class="banner">
    <!-- <div class="overlay">
    </div> -->
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img class="banner-img" src="../../../assets/images/banner-left.png" />
            </div>
            <div class="col-lg-6 content">
                <div class="heading">
                    <h2>Something Adorable is</h2>
                    <h3>"Coming <span>Soon!"</span></h3>
                    <h1>Pure Comfort, Pure Love.</h1>
                    <div class="lists">
                        <h6>Follow Now</h6>
                        <div class="list">
                            <a href="https://www.facebook.com/people/Snugglytots/61573294140025/" target="_blank"><i
                                    class="bi bi-facebook"></i></a>
                            <a href="https://www.instagram.com/snugglytotssg/followers/" target="_blank"><i
                                    class="bi bi-instagram"></i></a>
                            <a href="https://www.tiktok.com/@snugglytots?lang=en" target="_blank"><i
                                    class="bi bi-tiktok"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <h2>Eczema-friendly | Ultra-soft fabric | Mom-approved</h2>
        <h3>Join now for early access & exclusive launch perks!
        </h3> -->
            <!-- <div class="button_list">
            <button class="banner-demo-button">Join the VIP List </button>
        </div> -->
        </div>
    </div>
</div>

<!-- <div class="banner">
    <div class="image">
        <img src="../../../assets/images/snugly-tots-banner.jpg" alt="comming soon">
    </div>
</div> -->