<div class="banner">
    <!-- <div class="overlay">
    </div> -->
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img class="banner-img" src="../../../assets/images/banner-left.png" />
            </div>
            <div class="col-lg-6 content">
                <div class="heading">
                    <h2>Something Adorable is</h2>
                    <h3>"Coming <span>Soon!"</span></h3>
                    <h1>Pure Comfort, Pure Love.</h1>
                </div>
            </div>

            <!-- <h2>Eczema-friendly | Ultra-soft fabric | Mom-approved</h2>
        <h3>Join now for early access & exclusive launch perks!
        </h3> -->
            <!-- <div class="button_list">
            <button class="banner-demo-button">Join the VIP List </button>
        </div> -->
        </div>
    </div>
</div>

<!-- <div class="banner">
    <div class="image">
        <img src="../../../assets/images/snugly-tots-banner.jpg" alt="comming soon">
    </div>
</div> -->