<div class="header">
    <div class="container head-section">
        <div class="logo">
            <img src="../../../assets/images/logos/snuggly-logo.svg" alt="logo">
        </div>
        <!-- <div class="menu">
            <h6 (click)="scrollToCategories('collections')" routerLinkActive="active">Our Collections</h6>
            <h6 (click)="scrollToCategories('testimonials')" routerLinkActive="active">Testimonials</h6>

        </div> -->
    </div>
</div>


<!-- mobile header -->
<div class="mobile-header">
    <div class="mobile-logo">
        <img src="../../../assets/images/logos/snuggly-logo.svg" alt="logo">
    </div>
</div>

<!-- <button class="btn menu_icon" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
        aria-controls="offcanvasRight"><i class="bi bi-list"></i></button>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasRightLabel">
                <img src="../../../assets/images/logos/snuggly-logo.svg" class="mobile-img" alt="logo">

            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
           
            <p><a (click)=" scrollToCategories('collections')" routerLinkActive="active" data-bs-dismiss="offcanvas">Our
                    Collections</a>
            </p>
            <p><a (click)="scrollToCategories('testimonials')" routerLinkActive="active"
                    data-bs-dismiss="offcanvas">Testimonials
                </a>
            </p>
        </div>
    </div> -->